h1{ font-size: 40px; color: grey; font-family:ubuntu;}
p{  color: green; font-family:ubuntu; }
h2{ font-size: 40px; color: green; font-family:ubuntu;}
.grid{
   display:grid;
}
h3{ font-size: 40px; color: red; font-family:ubuntu;}
h4{ color:purple;}